body{

    font-family: 'Nunito';
}

.main__Cont{

    background-color: azure;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid black;
}

.cont__Text{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}