:root {
    --mainFont: "Nunito", sans-serif;
    --mainColor: rgb(207, 243, 255)
}

body{
    margin: 0;
    align-content: center;
}
h1{
    text-align: center;
}

.menu__title{
    font-family: 'Times New Roman';
    background-color: whitesmoke;
    margin: .1px;
    padding: 10px;
    margin-bottom: 90px;
    font-family: 'Nunito';
}


nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 70%;
    margin: 0 auto;
    align-self: center;

}

.menu__link{
   width: 75%;
   text-align: center;
    text-decoration: none;
    padding: 40px 25px;
    color:black;
    transition:all .2s ease;
    background-color: var(--mainColor);
    font-size: 25px;
    font-family: 'Nunito';
    outline-width: 1px;
    outline-color: rgb(0, 0, 0);
    outline-style: solid;
    vertical-align: middle;
}

.menu__link:hover{
    background-color: rgb(29, 212, 245);
}