.bill__container{
    margin: 0 auto;
    width: 80%;
     background-color: rgb(245, 255, 255);
    box-shadow: 1px 1px 10px .2px black;
}
.bill__title{
    background-color: rgb(29, 212, 245);
    text-align: center;
    padding: 15px;
}
.bill__inputs, .bill__products__inputs, .bill__cart{
    padding: 0 20px 20px;
    
}
.bill__inputs, .bill__products__inputs{
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    gap: 15px;

}

.bill__products__inputs, .bill__cart{
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid rgb(155, 155, 155);
}
.bill__input{
    display: flex;
    flex-direction: column;
}
.bill__input input{
    padding: 8px;
}
.bill__cart__legends{
    
    background-color:rgb(29, 212, 245) ;
}
.bill__cart__item{
    background-color:rgb(232, 252, 255) ;
    padding: 1rem 0; 
}
.bill__cart__legends, .bill__cart__item{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item__delete{
    background-color: rgb(29, 212, 245);
    border-radius: 2%;
}

